In [13]:
# import library numpy, pandas dan scikit learn
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
from sklearn import datasets

Matplotlib is building the font cache; this may take a moment.

In [2]:
DataIris = pd.read_csv('Dataset Iris.csv',
                          delimiter=';',
                          header=0)

In [ ]:
DataIris.head()

In [4]:
# ubah dulu Species ke Integer
DataIris["Species"] = pd.factorize(DataIris.Species)[0]

In [9]:
DataIris.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0           7.00          3.02           4.07          1.04        0
1           6.04          3.02           4.05          1.05        0
2           6.09          3.01           4.09          1.05        0
3           5.05          2.03           4.00          1.03        0
4           6.05          2.08           4.06          1.05        0

In [6]:
# kita pisahkan dulu kolom idnya
DataIris = DataIris.drop(labels="Id",axis=1)

In [10]:
DataIris.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0           7.00          3.02           4.07          1.04        0
1           6.04          3.02           4.05          1.05        0
2           6.09          3.01           4.09          1.05        0
3           5.05          2.03           4.00          1.03        0
4           6.05          2.08           4.06          1.05        0

In [11]:
# ubah data jadi array Numpy
DataIris = DataIris.to_numpy()

In [ ]:
print(DataIris)

In [14]:
x = DataIris['data']

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices