In [47]:
# TUGAS NAIVE BAYES ASEP RIDWAN HIDAYAT
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
## import data
df = pd.read_csv ("Data Remaja Orang Dewasa.csv")
df.head()

NameError: name 'pd' is not defined

In [49]:
# untuk melihat bnyak baris dan kolom
# df.shape

# tambahkan nama kolom
nama_kolom = ['age', 'workclass', 'fnlwgt', 'education', 'education_num', 'marital_status', 'occupation', 'relationship',
             'race', 'sex', 'capital_gain', 'capital_loss', 'hours_per_week', 'native_country', 'income']

# insert nama kolom ke dataframe
df.columns = nama_kolom


# df.columns
df.head()
# export ke excell
# df.to_excel('Data Remaja Orang Dewasa(adults).xlsx', index=False)

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

In [20]:
# view summary of dataset

# df.info()

# untuk mengetahui type data categorical
categorical = [var for var in df.columns if df[var].dtype=='O']
# untuk mengetahui type data categorical
# numerical = [i for i in df.columns if df[i].dtype== 'int64']

print('There are {} categorical variables\n'.format(len(categorical)))

print('The categorical variables are :\n\n', categorical)

There are 9 categorical variables

The categorical variables are :

 ['workclass', 'education', 'marital_status', 'occupation', 'relationship', 'race', 'sex', 'native_country', 'income']

In [21]:
# untuk melihat data hanya categorical
df[categorical].head()

,workclass,education,marital_status,occupation,relationship,race,sex,native_country,income
0,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States,<=50K
1,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,United-States,<=50K
2,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,United-States,<=50K
3,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,Cuba,<=50K
4,Private,Masters,Married-civ-spouse,Exec-managerial,Wife,White,Female,United-States,<=50K

In [22]:
# check missing values in categorical variables

df[categorical].isnull().sum()

workclass         0
education         0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
native_country    0
income            0
dtype: int64

In [37]:
numerical = [var for var in df.columns if df[var].dtype!='O']
print(format(len(numerical)))
print('The numerical variables are :', numerical)
# df[numerical].head()

6
The numerical variables are : ['age', 'fnlwgt', 'education_num', 'capital_gain', 'capital_loss', 'hours_per_week']

In [1]:
# dekalarasi feacture variable dan target
X = df.drop(['income'], axis=1)

y = df['income']

NameError: name 'df' is not defined

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_tes